label, input, button {
     margin: 10px;
     padding: 5px;
 }
 
 footer {
     bottom: 0;
     position: absolute;
     width: 90%;
     height: 40px;
 }

 #tooltip {
    font-size: 10px;
 }

 td {
    cursor: pointer;
 }

 .rounded {
    border-radius: 50%;
 }

 .filter-container{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
 }

 .filter{
   margin: 0.5rem;
 }

 .filter-title{
   margin: 0;
   text-align: start;
   margin-left: 0.5rem;
 }

 .search-results{
   margin: 2rem;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   border: 1px solid #ccc; 
   padding: 10px;
 }

 @media only screen and (max-width: 750px) {
    th {
        font-size: 14px;
     }
    
     td {
        font-size: 10px;
     }
  }